* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
}
:root {
  --lightyellow: #f1eb31;
  --darkyellow: #ffc632;
  --lightred: #ce3737;
  --darkred: #972f2f;
  --grey: rgb(255, 255, 255);
}
p {
  max-inline-size: 66ch;
  line-height: 1.65;
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
body > * {
  border: 2px solid red;
}
dialog {
  margin: auto auto;
  height: 40vh;
  width: 50vw;
}
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
.content {
  display: grid;
  grid-template-rows: auto auto;
  align-content: start;
}
.content > * {
  outline: 2px solid rgb(60, 0, 255);
}
